@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
html {
  view-transition-name: root;
}
html, body { overflow-x: hidden !important; }
canvas { display: block; max-width: 100% !important; }

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  position: absolute;
  inset: 0;
  z-index: 9999;
}